<div class="dashboard-header mb-4">
  <img src="assets/logo1.png" alt="Dashboard Logo" class="dashboard-logo" />
</div>

<div class="dashboard-grid">
<a class="dashboard-card gradient-1" routerLink="/receipt-manager">
  <div class="card-icon">🧾</div>
  <h3>Receipt Manager</h3>
</a>

  <a class="dashboard-card gradient-2" routerLink="/students">
    <div class="card-icon">🎓</div>
    <h3>Student Manager</h3>
  </a>

  <a class="dashboard-card gradient-3" routerLink="/component2">
    <div class="card-icon">📊</div>
    <h3>Component 2</h3>
  </a>
</div>